@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Geist', sans-serif;
}


.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}